html {
    box-sizing: border-box;
  }
  
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: black;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    overscroll-behavior: none;
}

header,
.title {
    text-align: center;
    margin: 24px;
}

form {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8px;
}

footer {
    text-align: center;
    background-color:rgb(114, 70, 184);
    width: 100%;
}

#add-new-book {
    background-color: rgb(114, 70, 184);
    color: black;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 50px 50px 0;
    cursor: pointer;
    width: 48px;
    height: 48px;
    font-size: 36px;
    border: none;
    border-radius: 50%;
    z-index: 1;
}

#submit-book {
    text-align: center;
    font-family: inherit;
    font-size: inherit;
    border: none;
    border-radius: 3px;
    background-color: white;
    cursor: pointer;
    padding: 8px 16px;
    margin: 8px;
}

#modal {
    width: 300px;
    background-color: rgb(114, 70, 184);
    border-radius: 5px;
    box-shadow: 0px 0px 25px 2px #757575;
    position: fixed;
    top: 30%;
    left: 42%;
    z-index: 2;
    overflow: hidden;
}

#container {
    display: flex;
    flex-wrap: wrap;
    padding: 32px 64px;
    gap: 36px;
}

.card {
    width: 300px;
    border-radius: 5px;
    box-shadow: 0px 0px 25px 2px #757575;
    padding: 0;
    background-color:rgb(114, 70, 184);
    overflow: hidden;
}

.content {
    color: black;
    background-color: white;
    padding: 8px 32px;
    width: 100%;
}

.overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 1;
}

.delete-button {
    cursor: pointer;
    padding: 4px;
    font-size: 18px;
    border: none;
    background-color: rgba(0,0,0,0);
    color: white;
}

.read-status {
    color: white;
    font-family: inherit;
    font-size: 16px;
    margin: 4px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.read {
    background-color: rgb(20, 80, 20);
}

.not-read {
    background-color: rgb(80, 20, 20);
}

.active {
    display: block;
}

.disappear {
    transform: scale(0);
    transition: 0.3s;
}

.appear {
    transform: scale(1);
    transition: 0.3s;
}

.rotate {
    transform: rotate(45deg);
    transition: 0.3s;
}

.antirotate {
    transform: rotate(0deg);
    transition: 0.3s;
}